version: '3.8'
services:
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3002:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASS:-admin}
    depends_on:
      - prometheus
      - loki
    volumes:
      - ./grafana:/var/lib/grafana
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
  loki:
    image: grafana/loki:2.9.2
    command: -config.file=/etc/loki/local-config.yaml

